body {
  margin: 0;
  color: #333;
}
form {
  margin: 10px auto;
}
label{
  margin:0 0 4px 0;
  padding:0px;
  display: block;
  font-weight: bold;
}
input{
  box-sizing: border-box;
  border:1px solid #BEBEBE;
  border-radius: 4px;
  padding: 8px;
  margin:0px;
  transition: all 0.30s ease-in-out;
  outline: none;  
}
input:focus{
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
input:not(:placeholder-shown):invalid {
  border: 1px solid red;
}
select {
  width: 105px;
  border-radius: 3px;
  padding: 1px;
}
[type=submit], #logout, .router-link{
  padding: 8px;
  border: none;
  border-radius: 4px;
  background: #4B99AD;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
[type=submit]:hover {
  background: #4691A4;
}
.required::after {
  content: '*';
  color: red;
}
form > button, input{
  width: 100%;
}
input[type=search] {
  width: 150px;
  padding-left: 20px;
}
form .field {
  margin-top: 10px;
}
table {
  border-collapse: collapse;
  border-radius: 4px;
  width: 100%;
}
td, th {
  border: 1px solid #a1a1a1;
  padding: 8px;
}
.table-wrapper {
  width: 100%;
  overflow-x: auto;
}
ul[role=navigation] {
  list-style-type: none;
  height: 50px;
  margin: 0 0 2rem 0;
  padding: 0 50px;
  background-color: #85ad83;
}
main {
  width: 60%;
  min-width: 360px;
  max-width: 960px;
  margin: auto;
}
details {
  border: 1px solid #a1a1a1;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}
details[disabled] {
  pointer-events: none;
  background-color: #dfdbdb;
  opacity: .70;
}
details[open] {
  padding: 0.5em;
}
summary {
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}
button:disabled, button:disabled:hover{
  background: #999
}
a:link, a:visited, a:hover, a:active { 
  text-decoration: none; 
} 
.modal, .modal-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-background {
  background: #fff;
  width: 100vw;
  height: 100vh;
}
.modal {
  padding: 14px;
  border: 1px solid #a1a1a1;
  border-radius: 8px;
  box-shadow: 4px 5px 8px 0px rgba(0,0,0,0.78);
  background-color: #cad4a5;
}
.modal [type=submit] {
  width: 320px;
  margin: 30px 0 0 0;
}
.close {
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
}
h1 {
  margin: 36px 0 36px -28px;
  position: relative;
}
h1, .ok {
  color: #0d4c0b;
}
h1:not(.not-found)::after {
  content: url("/book.svg");
  position: absolute;
  margin-left: 13px;
  fill: #0d4c0b;
}
.flex {
  display: flex;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.align-c {
  align-items: center;
}
.txt-c {
  text-align: center;
}
.no-wrap {
  white-space: nowrap;
}
.button-wrapper {
  padding-left: 10px;
}
.rounded {
  margin: 5px 7px;
  border-radius: 50%;
  border: none;
  background: #fff;
}
.rounded.add:hover {
  cursor: pointer;
}
.rounded.edit:hover {
  background: #85ad83;
}
.rounded.delete:hover {
  background: #e54242;
}
.rounded.delete svg{
  padding-top: 4px;
}
.danger {
  font-weight: bold;
  color: #920606;
}
#login {  
  max-width: 400px;
  margin-top: 50px;
}
#login button {
  margin-top: 36px;
}
#logout {
  width: 82px;
}
#logout:hover {
  background: #dd5858;
  box-shadow: 0 1px 3px #bbb;
}
#searchButton {
  width: 160px;
  margin: 0 0 0 14px;
}
#avatar {
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  padding-top: 4px;
}
#hideModal {
  margin-top: 4px;
  padding: 0 4px;
  border-radius: 2px;
  box-shadow: 0 2px 3px #333;
}
#searchButton, #login button, .rounded, .router-link {
  box-shadow: 0 2px 3px #aaa;
}
.router-link a {
  color: #fff;
}
[for=selectedTable] {
  width: 100%;
  margin-bottom: 1.5rem;
}
[for=order] {
  margin: 1.6rem auto;
}